<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>database</key>
			<string>dqd_dedecms_0519</string>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>id</key>
			<integer>-4217641677930436985</integer>
			<key>name</key>
			<string>Develop</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>119.254.102.245</string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>xiaocunxcx</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>dongqiudi</string>
		</dict>
		<dict>
			<key>database</key>
			<string>jasmine</string>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>id</key>
			<integer>-4197669971729482633</integer>
			<key>name</key>
			<string>Jamine</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>jasmine</string>
		</dict>
		<dict>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>id</key>
			<integer>5961337596993007748</integer>
			<key>name</key>
			<string>Local</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>jasmine</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string></string>
			<key>host</key>
			<string></string>
			<key>id</key>
			<integer>1300356411485613180</integer>
			<key>name</key>
			<string>New Favorite</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string></string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>dqd_dedecms</string>
			<key>host</key>
			<string>192.168.10.51</string>
			<key>id</key>
			<integer>-8785290914170556283</integer>
			<key>name</key>
			<string>OnlineDqd</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>119.254.102.245</string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>xiaocunxcx</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>dongqiudi</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>dqd_dedecms</string>
			<key>host</key>
			<string>10.10.172.189</string>
			<key>id</key>
			<integer>6605797841618142599</integer>
			<key>name</key>
			<string>OnlineDqdMaster</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>123.59.58.186</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/id_rsa.pub</string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>xiaocun</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>dongqiudi</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>dqd_mall</string>
			<key>host</key>
			<string>10.10.219.222</string>
			<key>id</key>
			<integer>-7510862780721416307</integer>
			<key>name</key>
			<string>OnlineMall</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>123.59.58.186</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/id_rsa.pub</string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>xiaocun</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>mall_select</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>dqd_mall</string>
			<key>host</key>
			<string>10.10.219.222</string>
			<key>id</key>
			<integer>-498083756761440896</integer>
			<key>name</key>
			<string>OnlineMallMaster</string>
			<key>port</key>
			<string>3306</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>123.59.58.186</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/id_rsa.pub</string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>xiaocun</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>mall</string>
		</dict>
		<dict>
			<key>database</key>
			<string></string>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>id</key>
			<integer>2188134005915216758</integer>
			<key>name</key>
			<string>Sphinx</string>
			<key>port</key>
			<string>9306</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
